body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    font-size: 20;
    float: right;
    color: white;
    text-decoration: none;
    overflow: hidden;
    padding: 14px 16px;
}

nav a:hover {
    color: darkgreen;

}



h1 {
    margin: 0;
}

.search-bar {
    margin: 8px 0;
    align-items: center;
}

.search-bar input {
    width: 60%;
    padding: 8px;
    font-size: 16px;
}

.category-filter {
    margin: 10px 0;
}

select {
    padding: 10px;
    font-size: 16px;
}

#products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 18px;
}

.product p {
    font-size: 16px;
    color: #333;
}

.quantity {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
}

.order-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.order-button:hover {
    background-color: #218838;
}

/* Mobile styles (screens smaller than 600px) */
@media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr; /* Single-column layout for mobile */
    }
  
    .product-grid {
      grid-template-columns: 1fr; /* 1 column for mobile */
    }
  
    .header, .footer {
      grid-column: span 1;
    }
  
    .product-item {
      text-align: center;
    }
  
    .search-bar, .dropdown-menu {
      grid-column: span 1;
    }
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }
  }

  